{% extends 'base.html' %}
{% load static %}

{% block title %} About {% endblock %}

{% block content %}

<!-- Home Section -->
<section id="home" class="main-about parallax-section">
     <div class="overlay"></div>
     <div class="container">
          <div class="row">

               <div class="col-md-12 col-sm-12">
                    <h1>About Us</h1>
               </div>

          </div>
     </div>
</section>

<!-- About Section -->

<section id="about">
     <div class="container">
          <div class="row">

               <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <div class="col-md-4 col-sm-4">
                         <h2>Our Mission</h2>
                         <p>To conserve the lands and waters on which all life depends.</p>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <h2>Our Vision</h2>
                        <p>A world where the diversity of life thrives, and people act to conserve nature for its own sake and its ability to fulfill our needs and enrich our lives.</p>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <h2>Together, We Find A Way</h2>
                        <p>We must boldly address the biodiversity and climate crises. We're overcoming barriers to the change our planet needs.</p>
                    </div>

                    <div class="col-md-6 col-sm-6">
                         <h3>Our Leaders</h3>
                        <p>Meet the experts, scientists, leadership and staff that embody The Nature Conservancy's spirit of innovation and drive to deliver tangible lasting results for both people & nature.</p>
                    </div>

                    <div class="col-md-6 col-sm-6">
                         <img src="{% static 'images/TNC_PC2021_450b6776aee8195158c113bac7b342a0-original.jpg' %}" class="img-responsive" alt="About Image">
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-md-3 col-sm-3">
                         <h3>Our History</h3>
                         <img src="{% static 'images/our_history.jpg' %}" class="img-responsive" alt="Blog Image">

                    </div>

                    <div class="col-md-3 col-sm-3">
                         <h3>Our Science</h3>
                         <img src="{% static 'images/our-science.jpg' %}" class="img-responsive" alt="Blog Image">

                    </div>

                    <div class="col-md-3 col-sm-3">
                         <h3>Our Diversity</h3>
                         <img src="{% static 'images/our-diversity.jpg' %}" class="img-responsive" alt="Blog Image">

                    </div>

                    <div class="col-md-3 col-sm-3">
                         <h3>Our Values</h3>
                         <img src="{% static 'images/our-core-values.jpg' %}" class="img-responsive" alt="Blog Image">

                    </div>
                </div>

          </div>
     </div>
</section>

{% endblock %}