{% extends 'base.html' %}

{% block title %} {{ post_item.title|truncatechars:50 }} {% endblock title %}

{% block content %}

<!-- Home Section -->

<section id="home" class="main-single-post parallax-section">
     <div class="overlay"></div>
     <div class="container">
          <div class="row">

               <div class="col-md-12 col-sm-12">
                    <h2>{{ post_item.title }}</h2>
               </div>

          </div>
     </div>
</section>

<!-- Blog Single Post Section -->

<section id="blog-single-post">
     <div class="container">
          <div class="row">

               <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <div class="blog-single-post-thumb">


                         <div class="blog-post-title">
                              <h2>{{ post_item.title }}</h2>
                         </div>

                         <div class="blog-post-format">
                              <span><i class="fa fa-date"></i>{{ post_item.publish_date|date:'M d, Y' }}</span>
                              <span><i class="fa fa-comment-o"></i> {{ post_item.comments_set.count }} Comments</span>
                         </div>

                         <div class="blog-post-des">
                             <p>{{ post_item.body }}</p>

                              <div class="blog-post-image">
                                  <img src="{{ post_item.image.url }}" class="img-responsive" alt="Blog Image 3">
                             </div>
                         </div>
                         <div class="blog-comment">

                               {% if post_item.comments_set.all %}
                                   <h3>Comments</h3>
                                   {% for comment in post_item.comments_set.all %}
                                       <div class="media">
                                            <div class="media-object pull-left">
                                                 <img src="{{ comment.user.profile_img.url }}" class="img-responsive img-circle" alt="review user image">
                                            </div>
                                            <div class="media-body">
                                                 <h3 class="media-heading">
                                                     {% if comment.user.first_name and comment.user.last_name %}
                                                        {{ comment.user.first_name }} {{ comment.user.last_name }}
                                                     {% else %}
                                                         {{ comment.user.username }}
                                                     {% endif %}
                                                 </h3>
                                                 <span>{{ comment.created_time|date:'M d, Y' }}</span>
                                                 <p>{{ comment.message }}</p>
                                            </div>
                                       </div>
                                   {% endfor %}
                               {% else %}
                                   <h3>No Comments.</h3>
                               {% endif %}
                         </div>

                         {% if request.user.is_authenticated %}
                             <div class="blog-comment-form">
                                  <h3>Leave a Comment</h3>
                                   <form method="post">{% csrf_token %}
                                        <textarea name="message" rows="5" class="form-control" placeholder="Message" message="message" required="required"></textarea>
                                        <div class="col-md-3 col-sm-4">
                                             <input type="submit" class="form-control" value="Post Your Comment">
                                        </div>
                                   </form>
                             </div>
                         {% else %}
                             <h4>You must be logged in to post a comment</h4>
                             <h4>Click <a href="{% url 'users:login' %}" class="text-primary"><b>here</b></a> to login</h4>

                         {% endif %}
                    </div>
          </div>
     </div>
     </div>
</section>

{% endblock %}
