{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>{% block title %} {% endblock %}</title>
<link rel="icon" href="{% static 'images/nature-logo.png' %}">

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

<!-- Main css -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link href="https://fonts.googleapis.com/css?family=Lora|Merriweather:300,400" rel="stylesheet">

</head>
<body>

<!-- PRE LOADER -->
<div class="preloader">
     <div class="sk-spinner sk-spinner-wordpress">
          <span class="sk-inner-circle"></span>
     </div>
</div>

<!-- Navigation section  -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
     <div class="container">

          <div class="navbar-header">
               <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
               </button>
               <a href="{% url 'blog:home' %}" class="navbar-brand">Nature</a>
          </div>
          <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'blog:home' %}">Home</a></li>
                    <li><a href="{% url 'blog:about' %}">About</a></li>
                    <li><a href="{% url 'blog:contact' %}">Contact</a></li>
                   <div class="nav navbar-nav navbar-right" style="margin-top: 10px">
                       {% if request.user.is_authenticated %}
                          <div class="dropdown" style="margin-bottom: 20px !important;">
                              <h4 class="dropdown-toggle dropdown-btn" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                  {{ request.user.username }}
                                <span class="caret"></span>
                              </h4>
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="{% url 'users:profile' %}">Profile</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a class="logout-anchor" href="{% url 'users:logout' %}">Logout</a></li>
                              </ul>
                          </div>
                       {% else %}
                           <a href="{% url 'users:login' %}">
                               <button class="btn btn-primary" style="margin-left: 10px; ">Login</button>
                           </a>
                           <a href="{% url 'users:register' %}">
                               <button class="btn btn-primary" style="margin-left: 6px; ">Sign Up</button>
                           </a>
                       {% endif %}
                  </div>

               </ul>

          </div>


  </div>
</div>


    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            <div class="container">
                {{ message }}
            </div>
        </div>
    {% endfor %}

{% endif %}



{% block content %}
{% endblock %}


<!-- Footer Section -->

<footer>
     <div class="container">
          <div class="row">

               <div class="col-md-5 col-md-offset-1 col-sm-6">
                    <h3>Nature</h3>
                    <p>The Nature Conservancy is a nonprofit, tax-exempt charitable organization (tax identification number 53-0242652) under Section 501(c)(3) of the U.S. Internal Revenue Code. Donations are tax-deductible as allowed by law. Global sites represent either regional branches of The Nature Conservancy or local affiliates of The Nature Conservancy that are separate entities.</p>
               </div>

               <div class="col-md-4 col-md-offset-1 col-sm-6">
                    <h3>Talk to us</h3>
                    <p><i class="fa fa-globe"></i> 512 Delicious Street, San Francisco, CA 10880</p>
                    <p><i class="fa fa-phone"></i> 010-020-0990</p>
                    <p><i class="fa fa-save"></i> info@company.com</p>
               </div>

               <div class="clearfix col-md-12 col-sm-12">
                    <hr>
               </div>

               <div class="col-md-12 col-sm-12">
                    <ul class="social-icon">
                         <li><a href="https://facebook.com" class="fa fa-facebook"></a></li>
                         <li><a href="https://twitter.com" class="fa fa-twitter"></a></li>
                         <li><a href="https://instagram.com" class="fa fa-instagram"></a></li>
                         <li><a href="https://linkedin.com" class="fa fa-linkedin"></a></li>
                    </ul>
               </div>

          </div>
     </div>
</footer>

<!-- Back top -->
<a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>

<!-- SCRIPTS -->

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/particles.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/jquery.parallax.js' %}"></script>
<script src="{% static 'js/smoothscroll.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>


</body>
</html>