{% extends 'base.html' %}
{% load static %}

{% block title %} Login {% endblock %}

{% block content %}

    <div class="container">
        <div class="login-page">
            <h2>Login</h2>
            <form method="post" action="">{% csrf_token %}
                <input type="text" class="form-control" placeholder="Username" name="username">
                <input type="password" class="form-control" placeholder="Password" name="password">
                <input type="submit" class="btn btn-primary" value="Login">

            </form>
            <h5>Don't have an account? <a href="{% url 'users:register' %}">Register here</a></h5>
        </div>
    </div>

{% endblock %}